# Dependencies
node_modules/

# Build output
build/

# Environment variables
.env

Server.js

# OS-specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests (optional)
setupTests.js
App.test.js

